<div>
  <h2 id="page-heading" data-cy="RemiseTransHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.home.title">Remise Trans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-remise-trans"
        [routerLink]="['/remise-trans/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.home.createLabel">Create a new Remise Trans</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (remiseTrans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.home.notFound">No Remise Trans found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgShortName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.orgShortName">Org Short Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.locRef">Loc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rvcRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.rvcRef">Rvc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="discountId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.discountId">Discount Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.frName">Fr Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="engName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.engName">Eng Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="discountType">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.discountType">Discount Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="discountValue">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseTrans.discountValue">Discount Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (remiseTrans of remiseTrans(); track trackId(remiseTrans)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/remise-trans', remiseTrans.id, 'view']">{{ remiseTrans.id }}</a>
              </td>
              <td>{{ remiseTrans.orgShortName }}</td>
              <td>{{ remiseTrans.locRef }}</td>
              <td>{{ remiseTrans.rvcRef }}</td>
              <td>{{ remiseTrans.discountId }}</td>
              <td>{{ remiseTrans.frName }}</td>
              <td>{{ remiseTrans.engName }}</td>
              <td>{{ remiseTrans.discountType }}</td>
              <td>{{ remiseTrans.discountValue }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/remise-trans', remiseTrans.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/remise-trans', remiseTrans.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(remiseTrans)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
