<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (societeTrans(); as societeTransRef) {
      <div>
        <h2 data-cy="societeTransDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.societeTrans.detail.title">Societe Trans</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.societeTrans.id">Id</span></dt>
          <dd>
            <span>{{ societeTransRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.societeTrans.nom">Nom</span></dt>
          <dd>
            <span>{{ societeTransRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.societeTrans.nomCourt">Nom Court</span></dt>
          <dd>
            <span>{{ societeTransRef.nomCourt }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/societe-trans', societeTransRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
