<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (menuItemMastersCnC(); as menuItemMastersCnCRef) {
      <div>
        <h2 data-cy="menuItemMastersCnCDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.detail.title">Menu Item Masters Cn C</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.id">Id</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.hierUnitId">Hier Unit Id</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.hierUnitId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.menuItemMasterId">Menu Item Master Id</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.menuItemMasterId }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.familyGroupObjectNum">Family Group Object Num</span>
          </dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.familyGroupObjectNum }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.majorGroupObjectNum">Major Group Object Num</span>
          </dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.majorGroupObjectNum }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.reportGroupObjectNum">Report Group Object Num</span>
          </dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.reportGroupObjectNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.externalReference1">External Reference 1</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.externalReference1 }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.externalReference2">External Reference 2</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.externalReference2 }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.objectNum">Object Num</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.objectNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemMastersCnC.name">Name</span></dt>
          <dd>
            <span>{{ menuItemMastersCnCRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/menu-item-masters-cn-c', menuItemMastersCnCRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
