<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (location(); as locationRef) {
      <div>
        <h2 data-cy="locationDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.detail.title">Location</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ locationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.hierUnitId">Hier Unit Id</span></dt>
          <dd>
            <span>{{ locationRef.hierUnitId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.tzIndex">Tz Index</span></dt>
          <dd>
            <span>{{ locationRef.tzIndex }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.tzName">Tz Name</span></dt>
          <dd>
            <span>{{ locationRef.tzName }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.localeInfoId">Locale Info Id</span></dt>
          <dd>
            <span>{{ locationRef.localeInfoId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.name">Name</span></dt>
          <dd>
            <span>{{ locationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.reportingLocName">Reporting Loc Name</span></dt>
          <dd>
            <span>{{ locationRef.reportingLocName }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.locRef">Loc Ref</span></dt>
          <dd>
            <span>{{ locationRef.locRef }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.reportingParentEnterpriseLevelName"
              >Reporting Parent Enterprise Level Name</span
            >
          </dt>
          <dd>
            <span>{{ locationRef.reportingParentEnterpriseLevelName }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.objectNum">Object Num</span></dt>
          <dd>
            <span>{{ locationRef.objectNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcIp">Sbm Pms Ifc Ip</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsIfcIp }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort">Sbm Pms Ifc Port</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsIfcPort }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPriveRoomStart">Sbm Prive Room Start</span></dt>
          <dd>
            <span>{{ locationRef.sbmPriveRoomStart }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPriveRoomEnd">Sbm Prive Room End</span></dt>
          <dd>
            <span>{{ locationRef.sbmPriveRoomEnd }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSendAllDetails">Sbm Pms Send All Details</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsSendAllDetails }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSendFullDscv">Sbm Pms Send Full Dscv</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsSendFullDscv }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSend64Tax">Sbm Pms Send 64 Tax</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsSend64Tax }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmCardPaymentUrl">Sbm Card Payment Url</span></dt>
          <dd>
            <span>{{ locationRef.sbmCardPaymentUrl }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmCheckHotelDataUrl">Sbm Check Hotel Data Url</span></dt>
          <dd>
            <span>{{ locationRef.sbmCheckHotelDataUrl }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherSvcUrl">Sbm Voucher Svc Url</span></dt>
          <dd>
            <span>{{ locationRef.sbmVoucherSvcUrl }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherInvPm">Sbm Voucher Inv Pm</span></dt>
          <dd>
            <span>{{ locationRef.sbmVoucherInvPm }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherCorpPm">Sbm Voucher Corp Pm</span></dt>
          <dd>
            <span>{{ locationRef.sbmVoucherCorpPm }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherRewardPm">Sbm Voucher Reward Pm</span></dt>
          <dd>
            <span>{{ locationRef.sbmVoucherRewardPm }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherMcPm">Sbm Voucher Mc Pm</span></dt>
          <dd>
            <span>{{ locationRef.sbmVoucherMcPm }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort2">Sbm Pms Ifc Port 2</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsIfcPort2 }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort3">Sbm Pms Ifc Port 3</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsIfcPort3 }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort4">Sbm Pms Ifc Port 4</span></dt>
          <dd>
            <span>{{ locationRef.sbmPmsIfcPort4 }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmTimeout">Sbm Timeout</span></dt>
          <dd>
            <span>{{ locationRef.sbmTimeout }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/location', locationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
