<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (familyGroupCnC(); as familyGroupCnCRef) {
      <div>
        <h2 data-cy="familyGroupCnCDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.familyGroupCnC.detail.title">Family Group Cn C</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ familyGroupCnCRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.familyGroupCnC.nom">Nom</span></dt>
          <dd>
            <span>{{ familyGroupCnCRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.familyGroupCnC.nomCourt">Nom Court</span></dt>
          <dd>
            <span>{{ familyGroupCnCRef.nomCourt }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.familyGroupCnC.majorGroupRef">Major Group Ref</span></dt>
          <dd>
            <span>{{ familyGroupCnCRef.majorGroupRef }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/family-group-cn-c', familyGroupCnCRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
