<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (commissionServiceTrans(); as commissionServiceTransRef) {
      <div>
        <h2 data-cy="commissionServiceTransDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.detail.title">Commission Service Trans</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.orgShortName">Org Short Name</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.orgShortName }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.locRef">Loc Ref</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.locRef }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.rvcRef">Rvc Ref</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.rvcRef }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.serviceChargeId">Service Charge Id</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.serviceChargeId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.name">Name</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.type">Type</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.type }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.commissionServiceTrans.value">Value</span></dt>
          <dd>
            <span>{{ commissionServiceTransRef.value }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/commission-service-trans', commissionServiceTransRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
