<div>
  <h2 id="page-heading" data-cy="CodeRaisonHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.home.title">Code Raisons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-code-raison"
        [routerLink]="['/code-raison/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.home.createLabel">Create a new Code Raison</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (codeRaisons().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.home.notFound">No Code Raisons found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomCourt">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.nomCourt">Nom Court</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomMstr">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.nomMstr">Nom Mstr</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numMstr">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.numMstr">Num Mstr</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etablissementRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaison.etablissementRef">Etablissement Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (codeRaison of codeRaisons(); track trackId(codeRaison)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/code-raison', codeRaison.id, 'view']">{{ codeRaison.id }}</a>
              </td>
              <td>{{ codeRaison.nomCourt }}</td>
              <td>{{ codeRaison.nomMstr }}</td>
              <td>{{ codeRaison.numMstr }}</td>
              <td>{{ codeRaison.name }}</td>
              <td>{{ codeRaison.etablissementRef }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/code-raison', codeRaison.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/code-raison', codeRaison.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(codeRaison)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
