<div>
  <h2 id="page-heading" data-cy="LocationHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.home.title">Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-location"
        [routerLink]="['/location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.home.createLabel">Create a new Location</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (locations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.home.notFound">No Locations found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hierUnitId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.hierUnitId">Hier Unit Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tzIndex">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.tzIndex">Tz Index</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tzName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.tzName">Tz Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="localeInfoId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.localeInfoId">Locale Info Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reportingLocName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.reportingLocName">Reporting Loc Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.locRef">Loc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reportingParentEnterpriseLevelName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.reportingParentEnterpriseLevelName"
                  >Reporting Parent Enterprise Level Name</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="objectNum">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.objectNum">Object Num</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsIfcIp">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcIp">Sbm Pms Ifc Ip</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsIfcPort">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort">Sbm Pms Ifc Port</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPriveRoomStart">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPriveRoomStart">Sbm Prive Room Start</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPriveRoomEnd">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPriveRoomEnd">Sbm Prive Room End</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsSendAllDetails">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSendAllDetails">Sbm Pms Send All Details</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsSendFullDscv">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSendFullDscv">Sbm Pms Send Full Dscv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsSend64Tax">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsSend64Tax">Sbm Pms Send 64 Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmCardPaymentUrl">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmCardPaymentUrl">Sbm Card Payment Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmCheckHotelDataUrl">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmCheckHotelDataUrl">Sbm Check Hotel Data Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmVoucherSvcUrl">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherSvcUrl">Sbm Voucher Svc Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmVoucherInvPm">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherInvPm">Sbm Voucher Inv Pm</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmVoucherCorpPm">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherCorpPm">Sbm Voucher Corp Pm</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmVoucherRewardPm">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherRewardPm">Sbm Voucher Reward Pm</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmVoucherMcPm">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmVoucherMcPm">Sbm Voucher Mc Pm</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsIfcPort2">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort2">Sbm Pms Ifc Port 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsIfcPort3">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort3">Sbm Pms Ifc Port 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmPmsIfcPort4">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmPmsIfcPort4">Sbm Pms Ifc Port 4</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sbmTimeout">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.location.sbmTimeout">Sbm Timeout</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (location of locations(); track trackId(location)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a>
              </td>
              <td>{{ location.hierUnitId }}</td>
              <td>{{ location.tzIndex }}</td>
              <td>{{ location.tzName }}</td>
              <td>{{ location.localeInfoId }}</td>
              <td>{{ location.name }}</td>
              <td>{{ location.reportingLocName }}</td>
              <td>{{ location.locRef }}</td>
              <td>{{ location.reportingParentEnterpriseLevelName }}</td>
              <td>{{ location.objectNum }}</td>
              <td>{{ location.sbmPmsIfcIp }}</td>
              <td>{{ location.sbmPmsIfcPort }}</td>
              <td>{{ location.sbmPriveRoomStart }}</td>
              <td>{{ location.sbmPriveRoomEnd }}</td>
              <td>{{ location.sbmPmsSendAllDetails }}</td>
              <td>{{ location.sbmPmsSendFullDscv }}</td>
              <td>{{ location.sbmPmsSend64Tax }}</td>
              <td>{{ location.sbmCardPaymentUrl }}</td>
              <td>{{ location.sbmCheckHotelDataUrl }}</td>
              <td>{{ location.sbmVoucherSvcUrl }}</td>
              <td>{{ location.sbmVoucherInvPm }}</td>
              <td>{{ location.sbmVoucherCorpPm }}</td>
              <td>{{ location.sbmVoucherRewardPm }}</td>
              <td>{{ location.sbmVoucherMcPm }}</td>
              <td>{{ location.sbmPmsIfcPort2 }}</td>
              <td>{{ location.sbmPmsIfcPort3 }}</td>
              <td>{{ location.sbmPmsIfcPort4 }}</td>
              <td>{{ location.sbmTimeout }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/location', location.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/location', location.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(location)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
