<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (menuItemDefinitionsCnC(); as menuItemDefinitionsCnCRef) {
      <div>
        <h2 data-cy="menuItemDefinitionsCnCDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.detail.title">Menu Item Definitions Cn C</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.hierUnitId">Hier Unit Id</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.hierUnitId }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.menuItemMasterObjNum"
              >Menu Item Master Obj Num</span
            >
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.menuItemMasterObjNum }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.menuItemMasterId">Menu Item Master Id</span>
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.menuItemMasterId }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.menuItemDefinitionId"
              >Menu Item Definition Id</span
            >
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.menuItemDefinitionId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.defSequenceNum">Def Sequence Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.defSequenceNum }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.menuItemClassObjNum"
              >Menu Item Class Obj Num</span
            >
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.menuItemClassObjNum }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.overridePrintClassObjNum"
              >Override Print Class Obj Num</span
            >
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.overridePrintClassObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.mainLevel">Main Level</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.mainLevel }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.subLevel">Sub Level</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.subLevel }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.quantity">Quantity</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.kdsPrepTime">Kds Prep Time</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.kdsPrepTime }}</span>
          </dd>
          <dt>
            <span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.prefixLevelOverride">Prefix Level Override</span>
          </dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.prefixLevelOverride }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.guestCount">Guest Count</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.guestCount }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu1ObjNum">Slu 1 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu1ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu2ObjNum">Slu 2 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu2ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu3ObjNum">Slu 3 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu3ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu4ObjNum">Slu 4 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu4ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu5ObjNum">Slu 5 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu5ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu6ObjNum">Slu 6 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu6ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu7ObjNum">Slu 7 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu7ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.slu8ObjNum">Slu 8 Obj Num</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.slu8ObjNum }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.menuItemDefinitionsCnC.firstName">First Name</span></dt>
          <dd>
            <span>{{ menuItemDefinitionsCnCRef.firstName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/menu-item-definitions-cn-c', menuItemDefinitionsCnCRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
