<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (codeRaisonBI(); as codeRaisonBIRef) {
      <div>
        <h2 data-cy="codeRaisonBIDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.detail.title">Code Raison BI</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.id">Id</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.nomCourt">Nom Court</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.nomCourt }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.nomMstr">Nom Mstr</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.nomMstr }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.numMstr">Num Mstr</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.numMstr }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.name">Name</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.codeRaisonBI.etablissementRef">Etablissement Ref</span></dt>
          <dd>
            <span>{{ codeRaisonBIRef.etablissementRef }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/code-raison-bi', codeRaisonBIRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
