<div>
  <h2 id="page-heading" data-cy="HierarchieCnCHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.home.title">Hierarchie Cn CS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hierarchie-cn-c"
        [routerLink]="['/hierarchie-cn-c/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.home.createLabel">Create a new Hierarchie Cn C</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (hierarchieCnCS().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.home.notFound">No Hierarchie Cn CS found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentHierId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.parentHierId">Parent Hier Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.hierarchieCnC.unitId">Unit Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hierarchieCnC of hierarchieCnCS(); track trackId(hierarchieCnC)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hierarchie-cn-c', hierarchieCnC.id, 'view']">{{ hierarchieCnC.id }}</a>
              </td>
              <td>{{ hierarchieCnC.nom }}</td>
              <td>{{ hierarchieCnC.parentHierId }}</td>
              <td>{{ hierarchieCnC.unitId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/hierarchie-cn-c', hierarchieCnC.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/hierarchie-cn-c', hierarchieCnC.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hierarchieCnC)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
