<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taxeRateTrans(); as taxeRateTransRef) {
      <div>
        <h2 data-cy="taxeRateTransDetailsHeading">
          <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.detail.title">Taxe Rate Trans</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.orgShortName">Org Short Name</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.orgShortName }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.locRef">Loc Ref</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.locRef }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.rvcRef">Rvc Ref</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.rvcRef }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.taxRateId">Tax Rate Id</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.taxRateId }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.percentage">Percentage</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.percentage }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.taxType">Tax Type</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.taxType }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.nameFR">Name FR</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.nameFR }}</span>
          </dd>
          <dt><span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeRateTrans.nameEN">Name EN</span></dt>
          <dd>
            <span>{{ taxeRateTransRef.nameEN }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/taxe-rate-trans', taxeRateTransRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
