<div>
  <h2 id="page-heading" data-cy="MajorGroupCnCHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.home.title">Major Group Cn CS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-major-group-cn-c"
        [routerLink]="['/major-group-cn-c/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.home.createLabel">Create a new Major Group Cn C</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (majorGroupCnCS().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.home.notFound">No Major Group Cn CS found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomCourt">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.nomCourt">Nom Court</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pointDeVenteRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.majorGroupCnC.pointDeVenteRef">Point De Vente Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (majorGroupCnC of majorGroupCnCS(); track trackId(majorGroupCnC)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/major-group-cn-c', majorGroupCnC.id, 'view']">{{ majorGroupCnC.id }}</a>
              </td>
              <td>{{ majorGroupCnC.nom }}</td>
              <td>{{ majorGroupCnC.nomCourt }}</td>
              <td>{{ majorGroupCnC.pointDeVenteRef }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/major-group-cn-c', majorGroupCnC.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/major-group-cn-c', majorGroupCnC.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(majorGroupCnC)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
