<div>
  <h2 id="page-heading" data-cy="TaxeClassTransHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.home.title">Taxe Class Trans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taxe-class-trans"
        [routerLink]="['/taxe-class-trans/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.home.createLabel">Create a new Taxe Class Trans</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (taxeClassTrans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.home.notFound">No Taxe Class Trans found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgShortName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.orgShortName">Org Short Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.locRef">Loc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rvcRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.rvcRef">Rvc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taxClassId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.taxClassId">Tax Class Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activeTaxRateRefs">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.taxeClassTrans.activeTaxRateRefs">Active Tax Rate Refs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (taxeClassTrans of taxeClassTrans(); track trackId(taxeClassTrans)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/taxe-class-trans', taxeClassTrans.id, 'view']">{{ taxeClassTrans.id }}</a>
              </td>
              <td>{{ taxeClassTrans.orgShortName }}</td>
              <td>{{ taxeClassTrans.locRef }}</td>
              <td>{{ taxeClassTrans.rvcRef }}</td>
              <td>{{ taxeClassTrans.taxClassId }}</td>
              <td>{{ taxeClassTrans.activeTaxRateRefs }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/taxe-class-trans', taxeClassTrans.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/taxe-class-trans', taxeClassTrans.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(taxeClassTrans)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
