<div>
  <h2 id="page-heading" data-cy="RemiseBIHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.home.title">Remise BIS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-remise-bi"
        [routerLink]="['/remise-bi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.home.createLabel">Create a new Remise BI</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (remiseBIS().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.home.notFound">No Remise BIS found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="num">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.num">Num</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="posPercent">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.posPercent">Pos Percent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rptGrpNum">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.rptGrpNum">Rpt Grp Num</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rptGrpName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.rptGrpName">Rpt Grp Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.remiseBI.locRef">Loc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (remiseBI of remiseBIS(); track trackId(remiseBI)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/remise-bi', remiseBI.id, 'view']">{{ remiseBI.id }}</a>
              </td>
              <td>{{ remiseBI.num }}</td>
              <td>{{ remiseBI.name }}</td>
              <td>{{ remiseBI.posPercent }}</td>
              <td>{{ remiseBI.rptGrpNum }}</td>
              <td>{{ remiseBI.rptGrpName }}</td>
              <td>{{ remiseBI.locRef }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/remise-bi', remiseBI.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/remise-bi', remiseBI.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(remiseBI)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
