<div>
  <h2 id="page-heading" data-cy="ModePaiementTransHeading">
    <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.home.title">Mode Paiement Trans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mode-paiement-trans"
        [routerLink]="['/mode-paiement-trans/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.home.createLabel">Create a new Mode Paiement Trans</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (modePaiementTrans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.home.notFound">No Mode Paiement Trans found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenderId">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.tenderId">Tender Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="extensions">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.extensions">Extensions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgShortName">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.orgShortName">Org Short Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.locRef">Loc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rvcRef">
              <div class="d-flex">
                <span jhiTranslate="simphonyStreamBurnerApplicationApp.modePaiementTrans.rvcRef">Rvc Ref</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (modePaiementTrans of modePaiementTrans(); track trackId(modePaiementTrans)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mode-paiement-trans', modePaiementTrans.id, 'view']">{{ modePaiementTrans.id }}</a>
              </td>
              <td>{{ modePaiementTrans.tenderId }}</td>
              <td>{{ modePaiementTrans.name }}</td>
              <td>{{ modePaiementTrans.type }}</td>
              <td>{{ modePaiementTrans.extensions }}</td>
              <td>{{ modePaiementTrans.orgShortName }}</td>
              <td>{{ modePaiementTrans.locRef }}</td>
              <td>{{ modePaiementTrans.rvcRef }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/mode-paiement-trans', modePaiementTrans.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/mode-paiement-trans', modePaiementTrans.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(modePaiementTrans)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
